{% layout "base" %}
{% block content %}

  <table
    class="image"
    style="text-align: center; align-items: center; height: 100%; width: 100%; margin-top: 1rem;"
    border="0"
    cellspacing="0"
    cellpadding="0">
    <tr>
      <td align="center">
        <img src="https://yaca-uat.youtest.io/app/yac/yac_neutre.png" alt="Yack de Yaca" />
      </td>
    </tr>
  </table>
  <p class="h1" style="color: #2A544F; margin-left:5vw; margin-right:5vw;text-align: center; margin-top: 16px;">
    Un peu de paperasse !
  </p>
  <p class="text" style="font-size: 14px; color: #243f41; line-height: 1.7; margin-left: 5vw; margin-right: 5vw; text-align: center;">
    <b>Salut la compagnie !</b><br/>
    Chez Yaca, on aime faire les choses dans les r&egrave;gles de l'art. <br/>
    Du coup, on vous transmets ces quelques documents l&eacute;gaux pour que vous soyez au courant. <br/>
  </p>
  <table align="center" style="color: #243f41; font-size: 14px;">
    <tr>
      <td align="center">
        Les
        <b>Conditions G&eacute;n&eacute;rales d'Utilisation</b>
        de  notre produit
        <b>Yaca Avenir</b>
      </td>
    </tr>
    <tr>
      <td align="center">
        Le
        <b>Document d'Informations Cl&eacute;s</b>
        de notre produit
        <b>Yaca Avenir</b>
      </td>
    </tr>
    <tr>
      <td align="center">
        Le
        <b>Document d'Informations Pr&eacute;contractuelles</b>
        de notre produit
        <b>Yaca Avenir</b>
      </td>
    </tr>
    <tr>
      <td align="center">
        Le
        <b>Document d'Information Sp&eacute;cifique</b>
        du fonds
        <b>Apicil Euro Garantie</b>
      </td>
    </tr>
  </table>
{% endblock %}